## Machine Learning Process
* Loading Data
* Training a model
* Evaluating the Model
* Making Predictions

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression   #Logistic Regression is the ML model that we imported from scikit learn.

In [38]:
#loading the dataset
iris_data = pd.read_csv('Iris.csv')
iris_data.head()                   #inspect the first 5 rows of the dataset

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [39]:
print(iris_data.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [43]:
# split the data into features (X) and label (y)
X = iris_data.drop(columns=['Id','Species'])
y = iris_data['Species']
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [44]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [45]:
# Creating the ML Model - In this case the "LogisticRegression"
model = LogisticRegression()  # initializes the model with default settings.

* Training the model : We will now train the model with the csv file. We will map (X) with labels (y) and find the best fit.

    $y$ $=$ $f(X)$ ,  $X \in \mathbb{R}^4$ , $f$ is the model we selected.

    $X$ is a $4$-dimentional vector,  $X=[Sepal Length, Sepal Width, Petal Length, Petal Width]^T$

In [ ]:
#Training the model
model.fit(X.values,y)   #.values is a command that converts the X DataFrame into a NumPy array.

In [51]:
#predict using the trained model
prediction = model.predict([[4.6,3.5,1.5,0.2]])  #data not from the training set
print(prediction)

['Iris-setosa']